//
// Body, html
//---------------------------------------------------
body, html {

}

//
// Typography
//---------------------------------------------------
h1, h2, h3, h4 {
  
}

h1 {

}

h2 {

}

h3 {
    
}

p {
    
}

ul {
    > li {

    }     
}

a {
    &:hover, &:focus, &:active {
        
    }
}

//
// Essential classes
//---------------------------------------------------

.no-scroll {
    margin: 0;
    width: 100%;
    height: 100%; 
    position: fixed;
    overflow-y:scroll;
}

.no-scroll-no-sb {
    margin: 0;
    width: 100%;
    height: 100%; 
    overflow-y:hidden;
}

.affix {
    top: 0;
    &, &-top, &-bottom {
    width: 100%;
    z-index: 999;
    }
}

//Extra small devices
@media (max-width: @screen-xs-max) { 
    .display-xs-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .text-xs-center {
        text-align: center;
    }
}

// Small devices
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
    .display-sm-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .text-sm-center {
        text-align: center;
    }
}

@media (min-width: @screen-md-min) { 
    .display-md-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .text-md-center {
        text-align: center;
    }
}

.m-0-a {
    margin: 0 auto;
}

.shadow-inset {
    box-shadow:
        inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.shadow-inset-t {
    box-shadow:
        inset 0px 10px 5px -10px rgba(0, 0, 0, 0.4);
}

.shadow-inset-b {
    box-shadow:
        inset 0px -10px 5px -10px rgba(0, 0, 0, 0.4);
}

.shadow-inset-t-b {
    box-shadow:
        inset 0px 10px 5px -10px rgba(0, 0, 0, 0.4),
        inset 0px -10px 5px -10px rgba(0, 0, 0, 0.4); 
}

//
// Screen resolutions
//---------------------------------------------------
    // Extra small devices
    @media (max-width: @screen-xs-max) { 
    }

    // Small devices
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    // Medium devices
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    // Large devices
    @media (min-width: @screen-lg-min) {
    }

    // Small devices and Extra small devices
    @media (max-width: @screen-sm-max) {
    }

    // Large devices and Medium device
    @media (min-width: @screen-md-min) {
    }

    // Medium devices and Small devices and Extra small devices
    @media (max-width: @screen-md-max) {
    }

//
// Owl carousel fix
//---------------------------------------------------
.owl-carousel {
    z-index: 1;
}

.owl-wrapper-outer {
    z-index: 1;
}

.owl-stage {
    z-index: 1;
}

.owl-stage-outer {
    z-index: 2;
}

.owl-item {
    z-index: 1;
}